.custom-bg1 {
    background-color:#F2BE5C;
  }

.custom-txt1 {
   color:#F2BE5C;
}
.custom-bg1 {
    background-color:#F2BE5C;
  }


#custom-hover:hover{
   color:#A66617;
}

#:hover{
   color:#A66617;
}

